<div>
  <app-poi-filter (filterChange)="filterPOIs($event)" fxFlex="75%"></app-poi-filter>
  <mat-card fxFlex>
    <button mat-flat-button color="accent" routerLink="/suggestion/category/new">Suggest a new category</button>
  </mat-card>
</div>

<div id="map" class="map"
     leaflet
     [leafletOptions]="initialSetup"
     [leafletLayersControl]="layersControl"
     (leafletMapReady)="onMapReady($event)"
     (leafletClick)="showSavePOIPopup($event.latlng)">

  <div *ngFor="let l of layers" [leafletLayer]="l"></div>

</div>

<div *ngIf="addingNewPOI">
  <app-add-marker-form [marker]="this.newMarker"
                       (addedPOI)="onPOIAdd($event)"
                       (cancelPOI)="hideNewPOIForm()"
                       #addMarkerComponent> </app-add-marker-form>
</div>
