<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<mat-card>
  <mat-card-title>Search category</mat-card-title>

  <mat-card-content>
    <form #searchForm="ngForm" fxLayout="row" (ngSubmit)="getCategory()">
      <mat-form-field>
        <input matInput type="text" placeholder="Name" name="name" required [(ngModel)]="searchCategoryName">
      </mat-form-field>

      <mat-action-list>
        <button mat-raised-button color="primary" type="submit" class="btn btn-success"
                [disabled]="!searchForm.form.valid">Search</button>
      </mat-action-list>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="category" fxLayout="column" fxLayoutGap="30px" fxLayoutAlign="center center">
  <mat-card-title>Edit category</mat-card-title>

  <mat-card-content>
    <form #editCategoryForm="ngForm" fxLayout fxLayoutGap="10px" (ngSubmit)="updateCategory()" fxFlex="80%" fxFlex.lt-md="100%"
    >
      <mat-card-content fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput type="text" placeholder="Id" readonly name="id" [(ngModel)]="category.id">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="category.name">
        </mat-form-field>


        <div fxLayout fxLayoutGap="20px">
          <mat-checkbox [(ngModel)]="category.hidden" name="hidden">Hide</mat-checkbox>

        </div>

        <div class="input-group">
          <div class="input-group-text">
            <i [ngClass]="category.iconClass"></i>
          </div>
          <input type="text" name="iconClass" class="form-control" placeholder="Icon"
                 [(ngModel)]="category.iconClass"
                 [iconPicker]="category.iconClass"
                 [ipWidth]="'250px'"
                 [ipPlaceHolder]="'Search an icon'"
                 [ipPosition]="'top'"
                 [ipIconPack]="['fa5']"
                 (iconPickerSelect)="onIconPickerSelect($event)">
        </div>



        <mat-card-actions fxLayoutAlign="end" align="center">
          <button mat-raised-button color="primary" class="btn btn-success" [disabled]="!editCategoryForm.form.valid">Apply changes</button>
          <button mat-raised-button color="accent" (click)="cancelUpdateCategory()">Cancel</button>
          <button mat-raised-button color="warn" (click)="deleteCategory()">Delete category</button>
        </mat-card-actions>

      </mat-card-content>

    </form>
  </mat-card-content>
</mat-card>
