<mat-card fxLayout="column">

  <mat-card-title fxFlex="10%">Manage categories suggestions</mat-card-title>

  <mat-card-content fxLayoutAlign="center center">

    <mat-selection-list role="listbox"
                        [(ngModel)]="selectedSuggestions">
      <mat-list-option *ngFor="let suggestion of suggestions" role="option"
                       [ngClass]="getOptionClass(suggestion)" [value]="suggestion">
        <div >
          <i class="{{suggestion.category.iconClass}}" style="margin-left: 1px; margin-right: 5px;"></i>
            {{suggestion.category.name}}
        </div>
      </mat-list-option>
    </mat-selection-list>

  </mat-card-content>

  <mat-card-actions fxLayout="row" fxFlex="10%" fxLayoutAlign="center center">
    <button mat-raised-button color="primary" class="btn btn-success"
            [disabled]="selectedSuggestions.length == 0" (click)="approve()" >Approve</button>
    <button mat-raised-button color="warn" [disabled]="selectedSuggestions.length == 0"
            (click)="reject()">Reject</button>
  </mat-card-actions>

</mat-card>
