<mat-toolbar color="primary">

  <a *ngIf="loggedUser && loggedUser.isAdmin()" (click)="toggleSidenav()" class="sidenav-toggle">
    <mat-icon>build</mat-icon>
  </a>

  <span>
    <a routerLink="/map" class="home"> {{appTitle}}</a>
  </span>

  <span fxFlex fxLayoutAlign="end">
    <div *ngIf="!loggedUser">
      <span>
        <a routerLink="/login" class="login">Login</a>
      </span>
      <span>
        <a class="login" (click)="logAdmin()">Log admin</a>
      </span>
    </div>

    <div *ngIf="loggedUser">
      <a [matMenuTriggerFor]="menu" class="logout">
          <span>
            {{loggedUser.username}}
            <mat-icon style="margin-bottom: 0">account_circle</mat-icon>
          </span>
      </a>
      <mat-menu #menu="matMenu" xPosition="before" >
        <a mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>

    </div>


  </span>
</mat-toolbar>
