<mat-toolbar color="primary">
  <span>
    <a routerLink="/map" class="home"> {{appTitle}}</a>
  </span>

  <span fxFlex fxLayoutAlign="end">
    <div *ngIf="!loggedUser">
      <span>
        <a routerLink="/login" class="login">Login</a>
      </span>
      <span>
        <a class="login" (click)="logAdmin()">Log admin</a>
      </span>
    </div>

    <div *ngIf="loggedUser">
      <a [matMenuTriggerFor]="menu" class="logout">
          <span>{{loggedUser.username}}</span>
      </a>
      <mat-menu #menu="matMenu" xPosition="before" >
        <a mat-menu-item (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </a>
      </mat-menu>

      <a *ngIf="loggedUser.isAdmin()" routerLink="/administration" class="administration">Management</a>
    </div>


  </span>
</mat-toolbar>
