<mat-card>
  <mat-card-title>Search point of interest</mat-card-title>

  <mat-card-content>
    <form #searchForm="ngForm" fxLayout="row" (ngSubmit)="getPOIByTitle()">
      <mat-form-field>
        <input matInput type="text" placeholder="Title" name="title" required [(ngModel)]="searchPOITitle">
      </mat-form-field>

      <mat-action-list>
        <button mat-raised-button color="primary" type="submit" class="btn btn-success"
                [disabled]="!searchForm.form.valid">Search</button>
      </mat-action-list>
    </form>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="!POI && error">
  <mat-card-content>
    <p>The point of interest you are looking for does not exist</p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="POI" fxLayout fxLayoutGap="30px">
  <mat-card-title>Edit point of interest</mat-card-title>

  <mat-card-content>
    <form #editPOIForm="ngForm" fxLayout fxLayoutGap="10px" (ngSubmit)="updatePOI()" fxFlex="80%" fxFlex.lt-md="100%"
    >

      <mat-card-content fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <mat-form-field>
          <input matInput type="text" placeholder="Title" name="title" required [(ngModel)]="POI.title">
        </mat-form-field>


        <mat-form-field>
          <mat-select placeholder="Category" required name="category" [(ngModel)]="POI.category.name">
            <mat-option *ngFor="let category of availableCategories" value="{{category.name.toLowerCase()}}">
              {{category.name | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" name="description" [(ngModel)]="POI.description"></textarea>
        </mat-form-field>

      </mat-card-content>

      <mat-card-content fxLayout="column"  fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutAlign="start center">
          <mat-form-field>
            <input matInput type="text" placeholder="Latitude" required name="lat" [(ngModel)]="POI.lat">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Longitude" required name="long" [(ngModel)]="POI.long">
          </mat-form-field>
        </div>

        <mat-card-actions fxLayout="row" fxLayoutAlign="center end" fxFlex fxLayoutGap="20px" align="left">
          <button mat-raised-button color="primary" [disabled]="!editPOIForm.form.valid">Apply changes</button>
          <button mat-raised-button color="warn" (click)="cancelEditPOI()">Cancel</button>
        </mat-card-actions>

      </mat-card-content>



      <div fxLayout="column">
        <img *ngIf="POIPictureUrl" [src]="POIPictureUrl" class="picture">
        <p *ngIf="!POIPictureUrl">No picture attached</p>
        <div>
          <input type="file" accept="image/*" (change)="onFileChange($event)">
        </div>
      </div>


    </form>
  </mat-card-content>
</mat-card>



